<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding-top ion-text-center" color="primary">
      <ion-label>
        <img src="../../../assets/icon/logo_duoc.png" alt="">
        <h2>Sistema de Asistencia DUOC</h2>
      </ion-label>
    </ion-title>
  </ion-toolbar>


  <ion-content [fullscreen]="true" class="ion-padding">
    <h2>Sistema de Asistencia DUOC</h2>
  
    <div class="imagen-placeholder">
      <h1>¡CORRECTO!</h1>
      <h1>{{usuario.password}}</h1>
      <img src="../../assets/images/correcto.png" alt="Placeholder" *ngIf="imagen">
    </div>
  
    <ion-button expand="full" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
  </ion-content>
</ion-header>


