<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    PAGINA INICIO
  </ion-item>
  <ion-item>
    <app-codigoqr *ngIf="componente === 'codigoqr'"  class="marco"></app-codigoqr>
    <app-miclase  *ngIf="componente === 'miclase'"  class="marco"></app-miclase>
    <app-foro     *ngIf="componente === 'foro'"  class="marco"></app-foro>
    <app-misdatos *ngIf="componente === 'misdatos'"  class="marco"></app-misdatos>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment value="codigoqr" 
        (ionChange)="segmentChanged($event)"
        [(ngModel)]="componente">
    
      <ion-segment-button value="codigoqr">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-segment-button>

      <ion-segment-button value="miclase">
        <ion-icon name="school-outline"></ion-icon>
        Mi clase
      </ion-segment-button>

      <ion-segment-button value="foro">
        <ion-icon name="pencil-outline"></ion-icon>
        Foro
      </ion-segment-button>

      <ion-segment-button value="misdatos">
        <ion-icon name="grid-outline"></ion-icon>
        Mis datos
      </ion-segment-button>
      

    </ion-segment>
  </ion-toolbar>
</ion-footer>