<ion-header>
  <ion-toolbar>
    <ion-title>
      Asistencia DUOC
    </ion-title>
    <div slot="end">
      <ion-button (click)="retroceder()">
        <ion-icon name="arrow-back-circle-outline">

        </ion-icon>Mapa
      </ion-button>
    </div>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  
  <!-- El div con id "mapId" será donde se mostrará el mapa -->
  <div id="mapId" style="height: 100%;"></div>

</ion-content>

<app-footer></app-footer>

<ion-footer>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-button shape="round" color="secondary" size="small"
        (click)="goToDUOC()" >
      DUOC
    </ion-button>

    <ion-button shape="round" color="secondary" size="small"
        (click)="goToMyPosition()">
      Aquí
    </ion-button>

    <ion-button shape="round" color="secondary" size="small"
        (click)="showRouteToDuoc()">
      Ruta
    </ion-button>

    <div *ngIf="distance">
      <br>
      {{ distance }}
    </div>
  </ion-toolbar>
</ion-footer>